/* Variables*/

:root {
    --colorGray: #555A60;
    --colorOrange:#f4AB41;
    --colorLight: #E3E9EC;
    --colorBlue: #1f9bcf;
    --colorDarkGrey: #2a3338;
    --colorDarkGreyLighter: #2b3439;
    --colorLight: #fafeff;
    --colorLightSecond: #E3E9Ec;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  background: var(--colorLightSecond);
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    overflow: hidden;
}

.calculator__display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--colorDarkGrey);
    color: var(--colorOrange);
    width:auto;
    height: 160px;
    padding: 1rem;
    font-size: 24px;
    padding-right: 2rem;
}

.display__result {
    font-size: 32px;
}

.calculator__keys {
    padding: 0.75rem 1.5rem;
    height:auto;
    background: var(--colorDarkGreyLighter);
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    ". . . negation"
    "clear bracket__right bracket__left divide"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero decimal backspace equals";
    align-items: center;
    justify-content: center;
}

.key {
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  background-color: rgba(43, 52, 57, 0.2);
  font-size: 20px;
  font-weight: 400;
  line-height: 50%;
  text-align: center;
}

.equal,
.negation,
.clear,
.operator,
.number,
.decimal,
.bracket__right,
.bracket__left {
    color: var(--colorLightSecond);

}
.clear,
.backspace,
.operator,
.equals {
  color: var(--colorOrange);

}
.clear {
    grid-area: clear;
  }

.backspace {
   grid-area: backspace;
 
}

.bracket__right {
    grid-area: bracket__right ;
}

.bracket__left {
    grid-area: bracket__left ;
  
}

.divide {
    grid-area: divide;

}
.one {
    grid-area: one;
   
}
.two {
    grid-area: two;
  }
.three {
    grid-area: three;
  }
.four {
    grid-area: four;
  }
.five {
    grid-area: five; 
}
.six {
    grid-area: six;
  }
.seven {
    grid-area: seven;
  }
.eight {
    grid-area: eight;
  }
.nine {
    grid-area: nine;
  }
.zero {
    grid-area: zero;
  }
.decimal {
    grid-area: decimal;
  }
 
.equals {
    grid-area: equals;
    background-color: var(--colorBlue);
    color: var(--colorLight);
  }

.minus {
    grid-area: times;
}

.plus {
    grid-area: minus;
}

.times {
    grid-area: plus;
}
.negation {
  grid-area: negation;
}

.key:hover {
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, .7);
}
.key {
  cursor: pointer;
  padding: 20px;
}

.key:active {
  font-weight: 900;
}
